.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  align-content: flex-end;
}

.Toolbar nav {
  height: 100%;
}

@media (max-width: 430px) {
  .DesktopOnly {
    display: none;
  }
}
