.SignInForm {
  text-align: left;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10%;
  box-sizing: border-box;
}

@media (min-width: 500px) {
  .SignInForm {
    margin: 20px auto;
    width: 100%;
  }
}

.Input {
  display: block;
  width: 96%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
